.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

#main-content {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

/* #evaluation-form input, select {
  width: 30%;
} */

#trybewarts-forms-logo {
  height: 500px;
}

hr {
  width: 600px;
}

#family {
  display: flex;
  flex-direction: column;
}